@{
    ViewBag.Title = "Login";
}

<h2 class="d-flex justify-content-center">Đăng nhập</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
            <div class="text-center">
                <div class="d-grid justify-content-center">
                                <input style="width: 400px" type="text"  name="username" id="username" placeholder="Tài khoản" required class="form-control"> <br>
                                        <input style="width: 400px" type="text" name="password" id="password" class="mt-3" placeholder="Mật khẩu" required class="form-control"> <br>
                  
                </div>
                    <button type="submit" class="btn btn-primary">Login</button>
            </div>
}